body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

ul.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes par ligne */
  gap: 20px; /* Espacement entre les colonnes */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* Centrer le contenu horizontalement */
}

li {
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column; /* Afficher les éléments en colonne */
  align-items: center; /* Centrer les éléments horizontalement */
}

li:nth-child(even) {
  background-color: #f9f9f9;
}

li span {
  font-weight: bold;
}

ul li:first-child {
  font-weight: bold;
  color: #007bff; /* Changez la couleur selon vos préférences */
}

img {
  max-width: 100%; /* Définir une largeur maximale pour l'image */
  height: auto; /* Permet au navigateur de maintenir le rapport hauteur/largeur */
}